/* Navstyling */
.nav{
  background-color: #F5CECE;
  display: flex;
  justify-content: center;
  height: 10vh;
  position: sticky;
  width: 100%;
}

/* Home styling */
.home{
height: 60vh;
background-image: url("/public/images/maldives1.jpeg");
background-repeat: no-repeat;
background-size: cover;
height: 70vh;

}


#home-content{
  text-align: center;
  font-size: 20px;
  padding-top: 130px;
}
.images{
  display: flex;
  width: 18%;
  height: 35vh;
  margin-top: 50px;
  flex-direction: row;
  

}
.images img{
  padding-left: 25px;
}
.imageHead{
text-align: center;
padding-top: 20px;
}
 .bucketList{
   height: 60vh;
 }
 /* Blog styling */
.article{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.article h3{
  text-align: center;
}

.article p{
  width: 60%;
}
.article img{
 width: 60%;
}


.blogs h1{
  text-align: center;
}

.form{
  margin-left: 380px;
}
.form input{
  padding: 20px;
  width: 60%;
  
}
/* contact styling */
.contact{
  background-color: #F5CECE; 
  height: 30vh;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}

/* about styling  */
.about{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.about p{
width: 60%;
}

.about img{
  width: 60%;
  height: 80vh;
}
.about h1{
  text-align: center;
}

.commentForm{
  background-color: #F5CECE;
  height: 70vh;
 
}
.updateForm{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayComment{
 width: 40%;
  border:black; border-width:5px; border-style:solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 330px;


}