/* Navstyling */
.head{
  background-color: #F5CECE;
  height: 12vh;
  text-align: center;
  padding-top: 25px;
  font-size: 14px;
}

.nav{
  background-color: #F5CECE;
  display: flex;
  justify-content: center;
  height: 10vh;
  position: sticky;
  width: 100%;
}


/* Home styling */
.home{
height: 60vh;
background-image: url("/public/images/maldives1.jpeg");
background-repeat: no-repeat;
background-size: cover;
height: 70vh;
background-color: #F5CECE;

}


#home-content{
  text-align: center;
  font-size: 20px;
  padding-top: 130px;
}
.images{
  display: flex;
  width: 18%;
  height: 35vh;
  margin-top: 50px;
  flex-direction: row;
  

}
.images img{
  padding-left: 25px;
}
.imageHead{
text-align: center;
padding-top: 20px;
}
 .bucketList{
   height: 60vh;
 }


 /* Blog styling */
.article{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.article h3{
  text-align: center;
}

.article p{
  width: 60%;
}
.article img{
 width: 60%;
}

.blogs h1{
  text-align: center;
}

.form{
  margin-left: 350px;
}
.form input{
  padding: 20px;
  width: 60%;
  border-radius: 30px;
  
}

/* contact styling */

.footer{
  background-color: #F5CECE; 
  height: 30vh;
}

.contact{

  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;

}


/* about styling  */
.about{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.about p{
width: 45%;
}

 .image2{
  width: 45%;
  height: 65vh;
  margin-top: 15px;

}
.image1{
  width: 35%;
  height: 55vh;
  border-radius: 50%;
}
.abouth1{
  text-align: center;
 
}

 .commentForm h1{
  padding-top: 30px;
 }
 
.commentForm{
  background-color: #F5CECE;
  height:max-content;
 
}
.updateForm{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: max-content;
  margin-left: 25%;
  margin-bottom:30px;
  background-color: black;
 
}

.updateForm textarea{
  width:65%;
 
}
.updateForm input{
  width: 63%;
  padding: 10px;
}
.submit{
  margin-top: 10px;
  width: 20%;
  background-color: white;
  color:black;
  margin-bottom: 25px;
}



/* comments page div */
.displayComment{
 width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 330px;
  margin-bottom: 4px;
  font-size: 15px;
}
.icon{
  font-size: 200px;
}

.load{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  
}


/* media queries */
@media only screen and (max-width: 1000px) {
.images{
  flex-direction: column;
  width: 70%;
  height:100vh;
  justify-content: space-around;
  margin-left: 20px;
}
.bucketList{
 height: 120vh;
}

.contact{
  flex-direction: column;
  height: 10vh;
  width: 100%;
}
.body{
  width:100%
}

.displayComment{
  margin-left: 30px;
  width: 80%;
  
}

.form{
  margin-left: 50px;
  width:100%;
}
.image1{
  width: 90%;
  height: 50vh;
  border-radius: 50%;
}
.image2{
  width: 90%;
  height: 50Vh;
}
.commentForm{
  width: 100%;
}
.updateForm{
  width: 60%;
  height: 30vh;
}
.articlePara{
  width: 100%;
}
.about p{
  width: 90%;
}
}


@media only screen and (min-width: 1390px) {
  .images{
    width: 55%;
    height: 70%
  }
  .form input{
    padding: 20px;
    width: 70%;
    
  }
  
  }
  
